apiVersion: v1
kind: Service
metadata:
  name: godemode-frontend
  namespace: godemode
  labels:
    app: godemode
    component: frontend
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  selector:
    app: godemode
    component: frontend
